/* ----- HEADER ------------------------------------------------------------- */
header {
  background-color: rgba(244, 244, 244, 0.95);
  box-shadow: 0px 1px 5px #233337;

  .header__logo {
    display: inline-block;
    padding: 10px 40px;
    a{
      @include transition-mix;
      &:hover{
        -webkit-filter: grayscale(50%);
        filter: grayscale(50%);
      }
    }
    img{
      width: 50%;
    }
  }
  nav{
    float: right;
    display: inline-block;
    padding: 19px 40px;
    font: 1em 'Lato', sans-serif;
    a{
      @include transition-mix;
      color: #00BFF2;
      display: inline-block;
      font-size: 0.9em;
      font-weight: 700;
      letter-spacing: 0.1rem;
      text-decoration: none;
      text-transform: uppercase;
      margin:0 10px;

      &:after{
        border-bottom: 3px solid #3ea9be;
        content: "";
        display: block;
        margin: 0.25em auto 0;
        transition: width 250ms ease-in-out 0s;
        width: 0;
      }
      &:hover:after{
        transition: width 100ms ease-in-out 0s;
        width: 100%;
      }
      &:hover{
        color: #00BFF2;
      }
    }
  }
}
